<div id="roomModal" class="modal fade rooms-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><span class="text-primary"><%= room.name %></span><small>数据设置</small></h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <%= form_for room, url: admin_room_path(room), method: :patch do |f| %>
              <div class="col-lg-12 col-sm-12 input-padding">
                <%= f.text_field :name, class: 'form-control', placeholder: '机房名称'%>
              </div>
              <div class="col-lg-12 col-sm-12 input-padding">
                <%= f.text_field :link, class: 'form-control', placeholder: '3D布局图链接'%>
              </div>
              <div class="menus">
                <div class="col-lg-6 ibox-padding text-center">菜单</div>
                <div class="col-lg-6 ibox-padding text-center">是否显示</div>
                <% @systems.each do |system| %>
                  <div class="ibox float-e-margins">
                    <div class="col-lg-6 ibox-padding text-center"><%= system.name %></div> 
                    <div class="col-lg-6 ibox-padding text-center">
                      <a class="collapse-link">
                        <%= check_box_tag 'list[]', "#{system.id}_System", menus.include?("#{system.id}_System"), class: "js-switch" %>
                      </a>
                    </div>
                    <%= '<div class="col-lg-12 ibox-padding rooms-ibox-content">'.html_safe if system.sub_systems.present? %>
                    <%= "<div class='ibox-content' style='#{"display: none" unless menus.include?("#{system.id}_System")}'>".html_safe if system.sub_systems.present? %>
                    <% system.sub_systems.each do |sub_system| %>
                      <div class="col-lg-6 ibox-padding text-center"><%= sub_system.name %></div>
                      <div class="col-lg-6 ibox-padding text-center">
                      <%= check_box_tag 'list[]', "#{sub_system.id}_SubSystem", menus.include?("#{sub_system.id}_SubSystem"), class: "js-switch" %>
                      </div>
                    <% end %>
                    <%= '</div>'.html_safe if system.sub_systems.present? %>
                    <%= '</div>'.html_safe if system.sub_systems.present? %>
                  </div>
                <% end %>
              </div>
              <button class="btn btn-sm sub-btn btn-primary pull-right" type="submit"><strong>提交</strong></button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script>

  $(function() {
    $('.footable').footable();
  });
</script>

