<div class="clearfix weitu">
  <div class="col-xs-12 p-xs text-center animated fadeInRightBig">
    <div class="panel panel-default">
      <div class="panel-heading">空调实时数据</div>
      <div class="panel-body">
        <div class="col-xs-12 top-area">
          <div class="col-md-3">
            <%=image_tag "10-1.png", class: 'air-img' %>
          </div>
          
          <div class="col-md-5">
            <div class="panel panel-default">
              <div id="system-info"></div>
            </div>
          </div>

          <% if @points["开关"].present? %>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">开关状态</div>
                <div class="panel-body switch-container">
                  <% @points["开关"].each do |key, value| %>
                    <div class='col-xs-12 switch-area'>
                      <div class="content">
                        <div class="title"><%= key.split('-')[-1] %></div>
                        <div class="myswitcher">
                          <label class="myswitcher-label <%= value == '0' ? 'myswitcher-apart' : 'myswitcher-comb' %>">
                            <span class="myswitcher-inner"><%= value == '0' ? '关' : '开' %></span>
                            <span class="myswitcher-switch"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12">
          <!-- 告警信息：图标 -->
          <%= render partial: "devices/share/warn_info_icon", locals: { points: @points, points_key: "告警" } %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // 路径配置
  require.config({
    paths: { echarts: '/assets/echarts' }
  });
  
  // 条形图
  require(
    [
    'echarts',
      'echarts/chart/bar', // 使用柱状图就加载bar模块，按需加载
      ],
      function (bar) {
      // 基于准备好的dom，初始化echarts图表
      var system_info = bar.init(document.getElementById('system-info'));

      var option = {
        grid: { y: 35, x2: 55, y2: 25, x: 35, borderWidth: 0 },
        tooltip: { trigger: 'axis' },
        xAxis: [
          {
            type: 'category',
            show: false,
            data: [
              <% @points['GIF'].keys.each do |key| %>
                '<%= key %>',
              <% end -%>
            ]
          }
        ],
        yAxis: [{ type: 'value', show: false }],
        series: [
          {
            type: 'bar',
            itemStyle: {
                normal: {
                    color: function(params) {
                        var colorList = [
                          '#C1232B','#B5C334','#FCCE10','#E87C25','#27727B',
                           '#FE8463','#9BCA63','#FAD860'
                        ];
                        return colorList[params.dataIndex]
                    },
                    label: { show: true, position: 'top', formatter: '{b}\n{c}' }
                }
            },
            data: [
              <% @points['GIF'].each do |key, value| %>
                <%= rand(100) %>,  
              <% end -%>
            ]
          }
        ],
      };
      // 为echarts对象加载数据
      system_info.setOption(option);
    }
  );
</script>
