<div class="clearfix">
  <div class="col-md-6 p-xs">
    <div id="top_left" class="panel panel-default">
      <div class="panel-heading text-center">数据显示</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 text-center">
            <%=image_tag"power-cabinet.png",width:"80%", class: "data_img"%>
          </div>
          <div class="col-xs-6">
            <div class="table-responsive cabinet-table">
              <%= render partial: "devices/share/table", locals: { title: "系统", points: @points["系统"] } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-xs">
    <div id="top_right" class="panel panel-default">
      <div class="panel-heading text-center">电压</div>
      <div class="panel-body">
        <% @points['电压'].each do |key, value|%>
          <div id="guage-chart-<%=key%>" data-title="<%= key %>" class="col-md-4 guage-chart"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="clearfix">
  <div class="col-md-6 p-xs">
    <div class="panel panel-default">
      <div class="panel-heading text-center">功率</div>
      <div class="panel-body">
        <% @points['功率'].each do |key, value|%>
          <div id="guage-chart-<%=key%>" data-title="<%= key %>" class="col-md-4 guage-chart"></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-xs">
    <div class="panel panel-default">
      <div class="panel-heading text-center">输出负载率</div>
      <div class="panel-body">
        <% @points['输出负载率'].each do |key, value|%>
          <div id="guage-chart-<%=key%>" data-title="<%= key %>" class="col-md-4 guage-chart"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  //设置左右两模块等高
  var height = $("#top_right").height();
  $("#top_left").height(height);
  
  <% @points.each do |key, items| %>
    <% if key != '系统' %>
      <% items.each do |name, value| %>
        new JustGage({
          id: "guage-chart-<%=name%>",
          value: <%= value %>,
          min: 0,
          max: 590,
          donut: true,
          gaugeWidthScale: 0.6,
          hideInnerShadow: true
        });
      <% end %>
    <% end %>
  <% end %>
  
</script>
