<div class="col-md-12 p-xs animated fadeInRightBig" id="authenticatePanel">
	<div class="panel panel-default" id="left">
		<div class="panel-heading text-center text-muted">
			<% if params[:controller] == "admin/admins" %>
				<%= link_to new_admin_admin_path, remote: true, format: :js, title: "添加#{title}" do %>
					<i class="fa fa-plus fa-lg pull-left"></i>
				<% end %>
			<% else %>
				<%= link_to new_admin_user_path, remote: true, format: :js, title: "添加#{title}" do %>
					<i class="fa fa-plus fa-lg pull-left"></i>
				<% end %>
			<% end %>
			<%= "#{title}列表" %>
		</div>
		<div class="panel-body table-responsive panel-height">
			<table class="table table-striped ">
				<thead>
					<tr>
						<th>序号</th>
						<th>姓名</th>
						<th>登录帐号</th>
						<th>登录邮箱</th>
						<th>创建日期</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<% items.each do |item| %>
						<tr>
							<th scope="row"><%= item.id %></th>
							<td><%= item.name %></td>
							<td><%= item.phone %></td>
							<td><%= item.email %></td>
							<td><%= item.created_at %></td>
							<td>
								<% if params[:controller] == "admin/admins" %>
									<%= link_to edit_admin_admin_path(item), remote: true, format: :js, class: 'btn btn-xs btn-default', title: '编辑' do %>
										<span class="glyphicon glyphicon-edit"></span>
									<%end%>
								<% else %>
									<%= link_to edit_admin_user_path(item), remote: true, format: :js, class: 'btn btn-xs btn-default', title: '编辑' do %>
										<span class="glyphicon glyphicon-edit"></span>
									<%end%>
								<% end %>
								<%= link_to [:admin, item], data:{ confirm: "确定要删除#{title}吗？" }, remote: true, format: :js, method: :delete, class: 'btn btn-xs btn-danger', title: '删除' do %>
								<span class="glyphicon glyphicon-trash"></span>
								<%end%>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<%= render partial: "/admin/public/admin_modal" %>
<!-- 只有一个panel时设置满屏高度 -->
<script>
	$(function(){
		var content = document.body.clientHeight;
		$(".panel-height").height(content - 200);
		$(".mblock-height").height(content - 171)
	})
</script>	