<%= form_for([:admin, item]) do |f| %>
	<div class="form-group">
		<div class="input-group m-b">
			<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
			<%= f.text_field :name, class: "form-control", placeholder: "姓名" %>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group m-b">
			<span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
			<%= f.text_field :phone, class: "form-control", placeholder: "手机号码" %>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group m-b">
			<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
			<%= f.email_field :email, class: "form-control", placeholder: "邮箱" %>
		</div>
	</div>

	<div class="form-group">     
		<div class="input-group m-b">
			<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>    
			<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "设置密码(不小于6个字符)" %>   
		</div>
	</div>

	<div class="form-group">     
		<div class="input-group m-b">
			<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>    
			<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "确认密码" %>   
		</div>
	</div>

	<div class="actions">
		<%= f.submit "#{params[:id].present? ? '更新' : '创建'}", class: "btn btn-success btn-block" %>
	</div>
	<p></p>
<% end %>
