<div class="clearfix power__ups">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h2><%= device.name %></h2>
      </div>
    </div>
  </div>
  <div class="col-md-12 p-xs">
    <div class="mblock left">
      <div class="row">
        <div class="col-xs-4 p-r"></div>
        <div class="col-xs-8 p-l">
          <%=image_tag"power-ups2.jpg",width:"65%", height: "100%", id: 'ups_img'%>
          <!-- 左侧表格1 -->
          <div class="table-responsive table-left1">
            <%= render partial: "devices/share/table", locals: { title: "市电输入", points: @points["市电输入"], exclude_points: exclude_points["市电输入"] } %>
          </div>
          <!-- 右侧表格 -->
          <div class="table-responsive table-right">
            <%= render partial: "devices/share/table", locals: { title: "UPS输出", points: @points["UPS输出"], exclude_points: exclude_points["UPS输出"] } %>
          </div>
          <!-- 下部表格 -->
          <div class="table-responsive table-bottom">
            <%= render partial: "devices/share/table", locals: { title: "电池模块", points: @points["电池模块"], exclude_points: exclude_points["电池模块"] } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
