<div class="temperature">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h2><%= device.name %></h2>
      </div>
    </div>
  </div>

  <div class="col-md-12 content">
    <%=image_tag "temperature.png", width: "100%", id: "temperatureImg"%>
    
    <% (1..@points["其他"].size / 2 ).each do |i| %>
      <% unless exclude_points["其他"] && exclude_points["其他"].include?("温度#{i}") && exclude_points["其他"].include?("湿度#{i}") %>
        <div class="data text-center show<%= i %>">
          <% unless exclude_points["其他"] && exclude_points["其他"].include?("温度#{i}") %>
            <div class="top"><%= number_format @points["其他"]["温度#{i}"] %>&#8451;</div>
          <% end %>
          <% unless exclude_points["其他"] && exclude_points["其他"].include?("湿度#{i}") %>
            <div class="bottom"><%= number_format @points["其他"]["湿度#{i}"] %>%</div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

