<div class="cold-wind">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3><%= "风冷冷水机组系统" %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <table class="table table-bordered">
              <tr>
                <th class="text-center">Slaver1</th>
                <th class="text-center">Slaver2</th>
              </tr>
              <% size = @points["SLAVER1"].size > @points["SLAVER2"].size ? @points["SLAVER1"].size : @points["SLAVER2"].size %>
              <% (0...size).each do |i| %>
                <tr>
                  <td width="50%">
                    <%= @points["SLAVER1"].keys[i] %>：<span class="unit"><%= "#{point_value(@points["SLAVER1"].keys[i], @points["SLAVER1"], exclude_points["SLAVER1"])}" if @points["SLAVER1"].keys[i].present? %></span>
                  </td>
                  <td width="50%">
                    <%= "#{@points["SLAVER2"].keys[i]}：#{point_value(@points["SLAVER2"].keys[i], @points["SLAVER2"], exclude_points["SLAVER2"])}" if @points["SLAVER2"].keys[i].present? %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>

          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <%= image_tag "cold-wind.gif", style: "width: 100%; padding-top: 48%;" %>
              </div>
              <div class="col-md-6">
                <table class="table table-bordered">
                  <tr>
                    <th class="text-center">Slaver3</th>
                    <th class="text-center">系统</th>
                  </tr>
                  <% size = @points["SLAVER3"].size > @points["系统"].size ? @points["SLAVER3"].size : @points["系统"].size %>
                  <% (0...size).each do |i| %>
                    <tr>
                      <td width="50%">
                        <%= "#{@points["SLAVER3"].keys[i]}：#{point_value(@points["SLAVER3"].keys[i], @points["SLAVER3"], exclude_points["SLAVER3"])}" if @points["SLAVER3"].keys[i].present? %>
                      </td>
                      <td width="50%">
                        <%= "#{@points["系统"].keys[i]}：#{point_value(@points["系统"].keys[i], @points["系统"], exclude_points["系统"])}" if @points["系统"].keys[i].present? %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <tr>
                <th colspan="4" class="text-center"></th>
              </tr>
              <% if @points["告警"].present? %>
                <% @points["告警"].keys.each_with_index do |pn, index| %>
                  <% if index%4 == 0 %>
                    <tr>
                  <% end %>
                    <td width="25%"><i class="fa fa-circle <%= 'red' if point_value(pn, @points["告警"], exclude_points["告警"]) == "1" %>"></i>&nbsp;&nbsp;<%= pn %></td>
                  <% if index%4 == 3 %>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
