<div class="leaking">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h2><%= device.name %></h2>
      </div>
    </div>
  </div>

  <div class="col-md-12 content">
    <%=image_tag "temperature.png", width: "100%", id: 'temperatureImg'%>

    <% unless exclude_points["其他"] && exclude_points["其他"].include?("漏水位置3")  %>
      <div class="data text-center show1">
        <i class="fa fa-circle <%= circle_color(@points["其他"]["漏水位置3"]) %>"></i>
        <span>漏水位置3</span>
      </div>
    <% end %>

    <% unless exclude_points["其他"] && exclude_points["其他"].include?("漏水位置2")  %>
      <div class="data text-center show2">
        <i class="fa fa-circle <%= circle_color(@points["其他"]["漏水位置2"]) %>"></i>
        <span>漏水位置2</span>
      </div>
    <% end %>

    <% unless exclude_points["其他"] && exclude_points["其他"].include?("漏水位置1")  %>
      <div class="data text-center show3">
        <i class="fa fa-circle <%= circle_color(@points["其他"]["漏水位置1"]) %>"></i>
        <div>漏水位置1</div>
      </div>
    <% end %>

    <% unless exclude_points["其他"] && exclude_points["其他"].include?("漏水位置7")  %>
      <div class="data text-center show4">
        <i class="fa fa-circle <%= circle_color(@points["其他"]["漏水位置7"]) %>"></i>
        <div>漏水位置7</div>
      </div>
    <% end %>

    <% unless exclude_points["其他"] && exclude_points["其他"].include?("漏水位置13")  %>
      <div class="data text-center show5">
        <i class="fa fa-circle <%= circle_color(@points["其他"]["漏水位置13"]) %>"></i>
        <span>漏水位置13</span>
      </div>
    <% end %>

    <% unless exclude_points["其他"] && exclude_points["其他"].include?("漏水位置6")  %>
      <div class="data text-center show6">
        <i class="fa fa-circle <%= circle_color(@points["其他"]["漏水位置6"]) %>"></i>
        <div>漏水位置6</div>
      </div>
    <% end %>

    <% unless exclude_points["其他"] && exclude_points["其他"].include?("漏水位置9")  %>
      <div class="data text-center show7">
        <i class="fa fa-circle <%= circle_color(@points["其他"]["漏水位置9"]) %>"></i>
        <span>漏水位置9</span>
      </div>
    <% end %>

    <% unless exclude_points["其他"] && exclude_points["其他"].include?("漏水位置8")  %>
      <div class="data text-center show8">
        <i class="fa fa-circle <%= circle_color(@points["其他"]["漏水位置8"]) %>"></i>
        <span>漏水位置8</span>
      </div>
    <% end %>

    <% unless exclude_points["其他"] && exclude_points["其他"].include?("漏水位置5")  %>
      <div class="data text-center show9">
        <i class="fa fa-circle <%= circle_color(@points["其他"]["漏水位置5"]) %>"></i>
        <div>漏水位置5</div>
      </div>
    <% end %>

    <% unless exclude_points["其他"] && exclude_points["其他"].include?("漏水位置4")  %>
      <div class="data text-center show10">
        <i class="fa fa-circle <%= circle_color(@points["其他"]["漏水位置4"]) %>"></i>
        <div>漏水位置4</div>
      </div>
    <% end %>

    <% unless exclude_points["其他"] && exclude_points["其他"].include?("漏水位置10")  %>
      <div class="data text-center show11">
        <span>漏水位置10</span>
        <i class="fa fa-circle <%= circle_color(@points["其他"]["漏水位置10"]) %>"></i>
      </div>
    <% end %>

    <% unless exclude_points["其他"] && exclude_points["其他"].include?("漏水位置11")  %>
      <div class="data text-center show12">
        <span>漏水位置11</span>
        <i class="fa fa-circle <%= circle_color(@points["其他"]["漏水位置11"]) %>"></i>
      </div>
    <% end %>

    <% unless exclude_points["其他"] && exclude_points["其他"].include?("漏水位置12")  %>
      <div class="data text-center show13">
        <i class="fa fa-circle <%= circle_color(@points["其他"]["漏水位置12"]) %>"></i>
        <div>漏水位置12</div>
      </div>
    <% end %>
  </div>
</div>

