<div class="col-xs-12">
  <div class="col-md-3 air_img">
    <%=image_tag  "10-1.png" ,width:"100%" %>
    <p></p>
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">运行参数</div>
      <div class="panel-body water_tab">
        <% unless @exclude_points["GIF"] && @exclude_points["GIF"].include?("温度测量值") %>
          <div class="col-xs-6 water_g water_g1"><%= @points["GIF"]["温度测量值"] %>&#8451;</div>
        <% end %>
        <% unless @exclude_points["GIF"] && @exclude_points["GIF"].include?("湿度测量值") %>
          <div class="col-xs-6 water_g water_g2"><%= @points["GIF"]["湿度测量值"] %>&#8451;</div>
        <% end %>
        <div class="col-xs-12">
          <% unless @exclude_points["GIF"] && @exclude_points["GIF"].include?("温度测量值") %>
            <span class="grey_d grey_d1">温度测量值</span><span class="grey_d grey_d2"><%= @points["GIF"]["温度测量值"] %>&#8451;</span>
          <% end %>
          <% unless @exclude_points["GIF"] && @exclude_points["GIF"].include?("湿度测量值") %>
            <span class="grey_d grey_d3">湿度测量值</span><span class="grey_d grey_d2"><%= @points["GIF"]["湿度测量值"] %>&#8451;</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">运行状态</div>
      <div class="panel-body water_tab1">
        <table class="table table1">
          <% @points["运行状态"].each do |key, value| %>
            <% unless @exclude_points["运行状态"] && @exclude_points["运行状态"].include?(key) %>
              <tr class="<%= value == "0" ? "open1" : "close1" %>">
                <td width="60%"><%= key %></td>
                <td><%= value == "0" ? "开启" : "关闭" %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <div class="col-sm-6">
    <!-- 告警信息：图标 -->
    <%= render partial: "devices/share/warn_info_icon", locals: { points: @points, points_key: "系统状态" } %>
  </div>
  <div class="col-sm-6">
    <!-- 告警信息：图标 -->
    <%= render partial: "devices/share/warn_info_icon", locals: { points: @points, points_key: "运行状态" } %>
  </div>
</div>
