<!-- 温湿度告警信息模块（无红绿图标） -->
<div class="panel panel-default panel3 warn-info">
  <div class="panel-heading"><%= points_key %></div>
  <div class="panel-body">
    <div class="">
      <% if points.present? && points["#{points_key}"].present? %>
        <% (1..(points["#{points_key}"].size/2)).each do |index| %>
        <div class="air_d_grey col-sm-3" align="left">
          <div class="info-row" style="overflow:hidden;">
            <span class="warning-name">温度<%= index.to_s.rjust(2, "0") %></span>
            <span class="warning-icon"><%= points["#{points_key}"]["温度#{index.to_s.rjust(2, "0")}"] %></span>
          </div>
          <br />
        </div>
        <div class="air_d_grey col-sm-3" align="left">
          <div class="info-row" style="overflow:hidden;">
            <span class="warning-name">湿度<%= index.to_s.rjust(2, "0") %></span>
            <span class="warning-icon"><%= points["#{points_key}"]["湿度#{index.to_s.rjust(2, "0")}"] %></span>
          </div>
          <br />
        </div>
        <% end %>
      <% else %>
        <div class="text-center">暂无数据</div>
      <% end %>
    </div>
  </div>
</div>
