<div class="clearfix">
	<div class="col-md-8 p-xs text-center animated fadeInRightBig">
		<div class="panel panel-default" id="left">
			<div class="panel-heading text-center text-muted">碳排放与全球气候变化</div>
			<div class="panel-body">
        <div style="height:520px" class="carbon_chart1"></div>
				<div style="height:200px" class="">
          <div class='area col-md-4'><label>总排放</label><%= @single_value_points['总排放'] %></div>    
          <div class='area col-md-4'><label>总能耗</label><%= @single_value_points['总能耗'] %></div>    
          <div class='area col-md-4'><label>总电费</label><%= @single_value_points['总电费'] %></div>    
        </div>
			</div>
		</div>
	</div>
	<div class="col-md-4 p-xs animated fadeInRightBig">
		<div class="panel panel-default" id="r_t">
			<div class="panel-heading text-center text-muted">实时 PUE 值</div>
			<div class="panel-body">
				<div style="height:180px" id="pue"></div>
			</div>
		</div>
		<div class="panel panel-default" id="r_b">
			<div class="panel-heading text-center text-muted">设备使用量</div>
			<div class="panel-body">
        <div id="guage-it" data-title="IT设备使用量" class="guage-chart col-md-6"></div>
        <div id="guage-air-condition" data-title="空调使用量" class="guage-chart col-md-6"></div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	// //设置3个模块的高度
	var left = document.body.clientHeight - 200;
	var r_t = left * 0.45 - 10;
	var r_b = left * 0.55 -10;
	$("#left").height(left);
	$("#r_t").height(r_t);
	$("#pue").height(r_t-60);
	$("#r_b").height(r_b);

  new JustGage({
    id: "guage-it",
    value: <%= rand(100) %>,
    min: 0,
    max: 100,
    donut: true,
    gaugeWidthScale: 0.6,
    hideInnerShadow: true
  });
  new JustGage({
    id: "guage-air-condition",
    value: <%= rand(100) %>,
    min: 0,
    max: 100,
    donut: true,
    gaugeWidthScale: 0.6,
    hideInnerShadow: true
  });

  require([ 'echarts', 'echarts/chart/line', 'echarts/chart/bar' ],

	function (ec) {
		// 基于准备好的dom，初始化echarts图表
		$(".carbon_chart1").each(function(){
			var myChart = ec.init($(this).get(0));   

			var option = {
			 	grid: { x: 90, x2: 60, y: 100, y2: 120 },
			 	tooltip: {
			 		trigger: 'axis'
			 	},
        legend: {
          data:['IT电费', '空调电费', 'IT碳排放', '空调碳排放']
        },
			 	xAxis: [
			 	{
			 		type: 'category',
			 		boundaryGap: true,
			 		data: [
            <% @chart_data.first.second.each do |time, value|%>
              '<%= time %>',
            <% end -%>
          ]
			 	}
			 	],
			 	yAxis: [
			 	{
			 		type: 'value',
          name: '电费',
			 		axisLabel: { formatter: '{value} KW/h' }
			 	},
			 	{
			 		type: 'value',
			 		name: '排放量',
			 		axisLabel: { formatter: '{value}' }
			 	}
			 	],
			 	series: [
          {
            name:'IT碳排放',
            type:'bar',
            smooth: true,
            yAxisIndex: 1,
            data:[1.0, 7.2, 3.3, 6.5, 2.3, 1.02, 8.3]
          },
          {
            name:'空调碳排放',
            type:'bar',
            smooth: true,
            yAxisIndex: 1,
            data:[2.0, 3.2, 3.3, 5.5, 8.3, 7.02, 5.2]
          },
				 	{
				 		name:'IT电费',
				 		type:'line',
            smooth: true,
				 		data:[210, 170, 320, 20, 420, 290, 218]
				 	},
          {
            name:'空调电费',
            type:'line',
            smooth: true,
            data:[732, 329, 720, 420, 220, 520, 231]
          }
				 ]
			};
			// 为echarts对象加载数据 
			myChart.setOption(option); 
		});
	}
);	

</script>

<script type="text/javascript">
	// pue图表
	require(['echarts', 'echarts/chart/gauge'],
	function (pue){
		var pueChart = pue.init(document.getElementById('pue')); 
		option = {
			tooltip: {
				formatter: "{a} <br/>{b}: {c}%"
			},
			series: [
				{
					name:'业务指标',
					type:'gauge',
					center: ['50%', '50%'],
					radius: [0, '100%'],
					detail: {formatter:'{value}%'},
					data:[{value: 50, name: 'PUE'}]
				}
			]
		};
		timeTicket = setInterval(function (){
			option.series[0].data[0].value = (Math.random()*100).toFixed(2);
			pueChart.setOption(option, true);
		},2000);
	}
);
</script>
