<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default top-container">
      <div class="panel-heading">碳排放与全球气候变化</div>
      <div class="panel-body">
        <div id="carbon_chart1"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default top-container">
      <div class="panel-heading">实时PUE值</div>
      <div class="panel-body">
        <div id="pue"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default top-container">
      <div class="panel-heading">设备使用量</div>
      <div class="panel-body">
        <div id="guage-it" data-title="IT设备使用量" class="col-md-6 guage-chart"></div>
        <div id="guage-air-condition" data-title="空调设备使用量" class="col-md-6 guage-chart"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 bottom-container">
    <table class="pue-table">
      <tr><td>IT设备使用量</td><td><%= @single_value_points['IT设备使用量'] %></td><td>空调电费</td><td><%= @single_value_points['空调电费'] %></td></tr>
      <tr><td>空调使用量</td><td><%= @single_value_points['空调使用量'] %></td><td>空调碳排放</td><td><%= @single_value_points['空调碳排放'] %></td></tr>
      <tr><td>总能耗</td><td><%= @single_value_points['总能耗'] %></td><td>总电费</td><td><%= @single_value_points['总电费'] %></td></tr>
      <tr><td>IT电费</td><td><%= @single_value_points['IT电费'] %></td><td>总排放</td><td><%= @single_value_points['总排放'] %></td></tr>
      <tr><td>IT碳排放</td><td><%= @single_value_points['IT碳排放'] %></td><td>PUE值</td><td><%= @single_value_points['PUE值'] %></td></tr>
    </table>
  </div>
  <div class="col-md-6 bottom-container label-content">
    <div class="col-md-5 main-content">
      <div class="col-md-4">总排放</div>
      <div class="col-md-8 text-right"><%= @single_value_points['总排放'] %></div>
    </div>
    <div class="col-md-5 main-content">
      <div class="col-md-4">总费用</div>
      <div class="col-md-8 text-right"><%= (@single_value_points['空调电费'].to_f + @single_value_points['IT电费'].to_f).round(2) %></div>
    </div>
    <div class="col-md-5 main-content">
      <div class="col-md-4">总能耗</div>
      <div class="col-md-8 text-right"><%= @single_value_points['总能耗'] %></div>
    </div>
  </div>
</div>
<script type="text/javascript">
	
  new JustGage({
    id: "guage-it",
    value: <%= @single_value_points['IT设备使用量'] %>,
    donut: true,
    max: <%= @single_value_points['IT设备使用量'].to_f + @single_value_points['空调使用量'].to_f %>,
    gaugeWidthScale: 0.6,
    hideInnerShadow: true,
    valueFontColor: '#fff',
    titleFontColor: '#fff'
  });
  new JustGage({
    id: "guage-air-condition",
    value: <%= @single_value_points['空调使用量'] %>,
    max: <%= @single_value_points['IT设备使用量'].to_f + @single_value_points['空调使用量'].to_f %>,
    donut: true,
    gaugeWidthScale: 0.6,
    hideInnerShadow: true,
    valueFontColor: '#fff',
    titleFontColor: '#fff'
  });

  var pueChart = null;
  // timeTicket = setInterval(function (){
  //   option.series[0].data[0] = (Math.random()*5).toFixed(2);
  //   pueChart.setOption(option, true);
  // },2000);

  require(['echarts', 'echarts/chart/gauge'], function(pue) {
    pueChart = pue.init(document.getElementById('pue')); 
    option = {
      series: [
        {
          name:'业务指标',
          type:'gauge',
          center: ['50%', '50%'],
          radius: [0, '100%'],
          axisLine: {show: true, lineStyle: {width: 20}},
          axisTick: {show: false},
          min: 0, max: 5, splitNumber: 5,
          data: [<%= @single_value_points['PUE值']%>]
        }
      ]
    };
    pueChart.setOption(option, true);
  });

  require([ 'echarts', 'echarts/chart/line', 'echarts/chart/bar' ],
  function (ec) {
    <% if @chart_data.present? %>
  		$("#carbon_chart1").each(function(){
  			var myChart = ec.init($(this).get(0));   

  			var option = {
  			 	grid: { x: 90, x2: 60, y: 80, y2: 30, borderWidth: 0 },
  			 	tooltip: { trigger: 'axis' },
          legend: { data:['IT电费', '空调电费', 'IT碳排放', '空调碳排放'], textStyle: {color: '#fff'} },
  			 	xAxis: [
  			 	{
  			 		type: 'category', boundaryGap: true,
            axisLabel: {textStyle: {color: '#fff'}},
  			 		data: [
              <% @chart_data.first.second.each do |time, value|%>
                '<%= time %>',
              <% end -%>
            ]
  			 	}
  			 	],
  			 	yAxis: [
            {type: 'value', name: '电费', axisLabel: { formatter: '{value} KW/h', textStyle: {color: '#fff'}}},
    			 	{ type: 'value', name: '排放量', axisLabel: { formatter: '{value}', textStyle: {color: '#fff'} }}
  			 	],
  			 	series: [
            {
              name:'IT碳排放',
              type:'bar',
              smooth: true,
              yAxisIndex: 1,
              data:[
              <% @chart_data['IT碳排放'].each do |time, value|%>
                <%= value %>,
              <% end %>
              ]
            },
            {
              name:'空调碳排放',
              type:'bar',
              smooth: true,
              yAxisIndex: 1,
              data:[
                <% @chart_data['空调碳排放'].each do |time, value|%>
                  <%= value %>,
                <% end %>
              ]
            },
  				 	{
  				 		name:'IT电费',
  				 		type:'line',
              smooth: true,
  				 		data:[
                <% @chart_data['IT电费'].each do |time, value|%>
                  <%= value %>,
                <% end %>
              ]
  				 	},
            {
              name:'空调电费',
              type:'line',
              smooth: true,
              data:[
                <% @chart_data['空调电费'].each do |time, value|%>
                  <%= value %>,
                <% end %>
              ]
            }
  				 ]
  			};
  			// 为echarts对象加载数据 
  			myChart.setOption(option); 
  		});
    <% end %>
  }
);	

</script>
