<% content_for :login_nav do %>
  <%= render partial: "share/login_nav" %>
<% end %>

<div class="middle-box text-center animated">
  <div class="col-xs-10 col-xs-offset-1 mblock clearfix login-form">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="col-xs-6 col-xs-offset-3 login-img">
        <span>
          <%= image_tag "login.png", class: "img-circle img-responsive" %>
        </span>
      </div>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

        <div class="form-group">
          <div class="input-group m-b">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "输入登录邮箱" %>
          </div>
        </div>

	  <div class="actions">
	    <%= f.submit "找回密码", class: "btn btn-success btn-block" %>
	  </div>
	<% end %>

	<%= render "admins/shared/links" %>
    </div>
  </div>
</div>