<div class="row" id="reportsContent">
  <div class="col-sm-12">
    <input type="hidden" id="room_id" data="<%= @room.id %>" />
    <%= form_tag results_room_reports_path(@room), remote: true, method: :get do |f| %>
    <div class="col-sm-2">
      <%= select :report, :device, @devices, {prompt: "请选择设备"}, class: 'form-control', required: true %>
    </div>
    <div class="col-sm-2">
      <input id="start_time" name="start_time" type="text" class="form-control" data-format="yyyy-MM-dd hh:mm" placeholder="开始时间"></input>
    </div>
    <div class="col-sm-2">
      <%= text_field_tag :end_time, params[:end_time], 'data-format': "yyyy-MM-dd hh:mm", placeholder: "结束时间", class: "form-control" %>
    </div>
    <div class="col-sm-6">
      <%= button_tag(type: 'submit', class: "btn btn-sm btn-default grey-bg js-submit-search") do %>
        <i class="glyphicon glyphicon-search"></i> 搜索
      <% end %>
      <%= link_to("导出到Excel", '#', id: 'export_to_excel', class: "btn btn-sm btn-default grey-bg") %>
    </div>
    <div id="report-device-points" class="report-device-points btn-group col-sm-12" data-toggle="buttons">

    </div>
    <% end %>
  </div>

  <div class="col-sm-12">
    <div id="chartsContent">

    </div>
  </div>
</div>
<%= content_for :scripts do %>
  <%= javascript_include_tag "reports", 'data-turbolinks-track' => true %>
  <script type="text/javascript">
    $(function() {
      $('#start_time, #end_time').datetimepicker({
        language: 'zh-CN',
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1
      });

      $('#export_to_excel').on('click', function(){
        var start_time = $('#start_time').val()
        var end_time = $('#end_time').val()
        var points_dom = $('#report-device-points').children('label')
        var points = []
        points_dom.each(function(){
          if ($(this).hasClass('active') == true) {
            points.push($($(this).children()[0]).attr('data'));
          }
        });
        var room_id = $('#room_id').attr('data')
        $.ajax({
          method: 'get',
          url: "/rooms/"+room_id+"/reports/import",
          data: {start_time: start_time, end_time: end_time, points: points},
          success: function(data, status){
            window.open("reports/" + data.file_name);
          }
        });
      });
    });
  </script>

<% end %>
