<div class="row col-sm-12">
  <%= form_tag room_reports_path(@room), method: :get, class: 'form-horizontal', role: "form" do %>
    <div class="form-group col-sm-3">
      <div id="datetimepicker1" class="input-append date">
         <%= text_field_tag :start_time, params[:start_time], 'data-format': "dd/MM/yyyy hh:mm:ss", placeholder: "开始时间", required: true%>
          <span class="add-on">
            <i data-time-icon="glyphicon glyphicon-time" data-date-icon="glyphicon glyphicon-calendar">
            </i>
          </span>
      </div>
    </div>
    <div class="form-group col-sm-3">
      <div id="datetimepicker2" class="input-append date">
        <%= text_field_tag :end_time, params[:end_time], 'data-format': "dd/MM/yyyy hh:mm:ss", placeholder: "截止时间", required: true %>
          <span class="add-on">
            <i data-time-icon="glyphicon glyphicon-time" data-date-icon="glyphicon glyphicon-calendar">
            </i>
          </span>
      </div>
    </div>
    <%= submit_tag "搜索", class: "btn btn-xs btn-default" %>
  <% end %>
</div>
<hr>
<div class="row" id="reportsContent">
  <div class="col-sm-12">
    <div class="col-sm-3">
      <ul id="deviceContent">
        <% @devices.each do |device| %>
          <li class="parent"><%= link_to "+ " + device.name.to_s, "javascript:void(0);" %></li>
          <ul id="pointContent" style="max-height: 120px;overflow: auto;">
            <% device.points.each do |point| %>
              <% point_history = PointHistory.keyword(params[:start_time], params[:end_time], point.id).collect{|x| x.point_value.to_i} %>
              <% point_time = PointHistory.keyword(params[:start_time], params[:end_time], point.id).collect{|x| x.created_at.strftime("%Y-%m-%d")} %>
              <li class="child"><%= link_to point.name, replace_chart_room_reports_path(@room, data: point_history, time: point_time, name: point.name), remote: true, title: point.name %></li>
            <% end %>
          </ul>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-9" id="chartsContent">
      <div id="main" style="height:400px"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $("#deviceContent li").click(function(){
      $(this).next("ul").slideToggle();
      $(this).siblings("li").next("ul").hide();
    });
  })
</script>

<script type="text/javascript">
    // 使用
    require(
      [
          'echarts',
          'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
      ],
      function (ec) {
        // 基于准备好的dom，初始化echarts图表
        var myChart = ec.init(document.getElementById('main')); 
        var option = {
          tooltip: {
              show: true
          },
          legend: {
              data:['报表']
          },
          xAxis : [
              {
                  type : 'category',
                  data : ["2016-01-01"]
              }
          ],
          yAxis : [
              {
                  type : 'value'
              }
          ],
          series : [
            {
              "name":"报表",
              "type":"bar",
              "data": [0]
            }
          ]
        };
      // 为echarts对象加载数据 
      myChart.setOption(option); 
    }
  );
</script>
<script type="text/javascript">
  $(function() {
    $('#datetimepicker1, #datetimepicker2').datetimepicker({
       collapse: false
    });
  });
</script>