<div class="row col-sm-12">
  <div id="importBtn">
    <%= render partial: "import", locals: {path: room_reports_path(@room, format: 'xls')} %>
  </div>
  <%= form_tag room_reports_path(@room), method: :get, class: 'form-horizontal', role: "form" do %>
    <div class="form-group col-sm-3">
      <div id="datetimepicker1" class="input-append date">
         <%= text_field_tag :start_time, params[:start_time], 'data-format': "dd/MM/yyyy hh:mm:ss", placeholder: "开始时间", required: true%>
          <span class="add-on">
            <i data-time-icon="glyphicon glyphicon-time" data-date-icon="glyphicon glyphicon-calendar">
            </i>
          </span>
      </div>
    </div>
    <div class="form-group col-sm-3">
      <div id="datetimepicker2" class="input-append date">
        <%= text_field_tag :end_time, params[:end_time], 'data-format': "dd/MM/yyyy hh:mm:ss", placeholder: "截止时间", required: true %>
          <span class="add-on">
            <i data-time-icon="glyphicon glyphicon-time" data-date-icon="glyphicon glyphicon-calendar">
            </i>
          </span>
      </div>
    </div>
    <%= submit_tag "搜索", class: "btn btn-xs btn-default" %>
  <% end %>
</div>
<hr>
<div class="row" id="reportsContent">
  <div class="col-sm-12">
    <div class="col-sm-3">
      <ul id="deviceContent" style="max-height: 540px;overflow: auto;">
        <% @devices.each do |device| %>
          <li class="parent"><%= link_to "+ " + device.name.to_s, get_points_room_reports_path(@room, device_id: device.id), remote: true %></li>
          <ul id="pointContent">
          </ul>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-9" id="chartsContent">
      <div id="main" style="height:400px"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var defaultTime = $(".child a").data("default-time");
  var defaultHistory = $(".child a").data("default-history");
  require(
      [
          'echarts',
          'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
      ],
      function (ec) {
        // 基于准备好的dom，初始化echarts图表
        var myChart = ec.init(document.getElementById('main')); 
        option = {
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['报表']
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : defaultTime
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'值',
                type:'line',
                data: defaultHistory
            }
        ]
    };
      // 为echarts对象加载数据
      myChart.setOption(option);
    }
  );
</script>
<!--
<script type="text/javascript">
    // 使用
    require(
      [
          'echarts',
          'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
      ],
      function (ec) {
        // 基于准备好的dom，初始化echarts图表
        var myChart = ec.init(document.getElementById('main')); 
        var option = {
          tooltip: {
              show: true
          },
          legend: {
              data:['报表']
          },
          xAxis : [
              {
                  type : 'category',
                  data : ["2016-01-01"]
              }
          ],
          yAxis : [
              {
                  type : 'value'
              }
          ],
          series : [
            {
              "name":"报表",
              "type":"bar",
              "data": [0]
            }
          ]
        };
      // 为echarts对象加载数据
      myChart.setOption(option);
    }
  );
</script>
-->
<style>
  .redxx {
    color: red!important;
  }
</style>
<script type="text/javascript">
  $(function() {
    $("li.child a").each(function(){
      var _this = $(this);
      _this.click(function(){
        $(this).addClass("redxx");
        $(this).parent().siblings().find("a").removeClass("redxx");
      })
    })
    $("#deviceContent li.parent a").click(function(){
      $(this).parent().next("ul").slideToggle();
      $(this).parent().siblings("li.parent").next("ul").hide();
    });
    $('#datetimepicker1, #datetimepicker2').datetimepicker({
       collapse: false
    });
  });
</script>