<!DOCTYPE html>
<html>
<head>
  <title>Eagle</title>
  <%= stylesheet_link_tag    'admin_user', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="login-body">
	<%= yield :login_nav %>
	<%= render "share/flash" %>

	<div class="admin-user">
		<%= yield %>
	</div>	
</body>

</html>
