<!DOCTYPE html>
<html>
<head>
  <title>Eagle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
	<!-- 左侧导航栏部分 -->
	<%= render partial: "/share/left_bar" %>
	<!-- 左侧导航栏部分 end-->
	<!-- 右侧内容页 -->
	<div id="page-wrapper" class="gray-bg">
		<!-- top and collapse left_bar icon -->
		<%= render partial: "/share/top_bar" %>
		<!-- 右侧中间内容部分 -->
		<div class="wrapper wrapper-content">
			<%= yield %>
		</div>
		<!-- footer -->
		<%= render partial: "/share/footer" %>
		<!-- 右侧中间内容部分  end-->
		<!-- skin setting -->
		<%= render partial: "/share/setting" %>
	</div>
	<!-- 右侧内容页 end-->
</div>

</body>
</html>
