<!DOCTYPE html>
<html>
<head>
  <title>Eagle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<% if params[:action] == 'login' %>
	<body class="login-body">
		<%= yield :login_nav %>
		<div class="<%= controller.controller_path.gsub('/','__') + '__' + controller.action_name %>">
			<%= yield %>
		</div>	
	</body>
<% else %>
	<body>
		<div id="wrapper">
			<!-- 左侧导航栏部分 -->
			<%= render partial: "/share/left_bar" %>

			<!-- 右侧内容页 -->
			<div id="page-wrapper" class="gray-bg">
				<!-- 顶部导航 -->
				<%= render partial: "/share/top_bar" %>

				<!-- 右侧中间内容部分 -->
				<div class="row wrapper eagle-content <%= controller.controller_path.gsub('/','__') + '__' + controller.action_name %>">
					<%= yield %>
				</div>

				<!-- 页脚 -->
				<%= render partial: "/share/footer" %>

				<!-- skin setting -->
				<%#= render partial: "/share/setting" %>
			</div>
		</div>	
	</body>
<% end %>

</html>
